{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
<h1>Register</h1>
  <form method="post">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" class="form-control"  name="username" id="username" aria-describedby="username" placeholder="john" required>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" name="password" id="password" placeholder="" required>
  </div>
  <input type="submit" class="btn btn-primary" value="Register">
</form>

{% endblock %}
