{% extends "base.html" %}

{% block title %}
    {{ job.title }}
{% endblock %}

{% block content %}
    <h1>{{ job.title }}</h1>
        <hr>
    <h2>Skills</h2>
    <ul class="list-group">
        {% for skill in skills.skills %}
            <li class="list-group-item list-group-item-action">
              <a href="{{ url_for("skill", uuid=skill.skill_uuid) }}">
                {{ skill.skill_name }}:
              </a>
              {{ skill.description }}
            </li>
        {% endfor %}
    </ul>
    <h2>Related Jobs</h2>

    <ul>
      {% for job in related_jobs.related_job_titles %}
      <li>
        <a href="{{ url_for("job", uuid=job.uuid) }}">
          {{ job.title }}
        </a>
      </li>
      {% endfor %}

    </ul>
{% endblock %}
