{% extends "base.html" %}

{% block title %}
Profile for {{ user.name }}
{% endblock %}
{% block content %}
{# name, email, profile_picture, bio, education, location #}
    <div class="col-md-5 mb-5">
        <div class="card">
            {% if user.image == None %}
                <svg data-jdenticon-value="{{ user.email }}"></svg>
            {% else %}
                <img src="{{ user.image }}" alt="{{ user.email }}">
            {% endif %}
        <div class="card-body">
            <h5 class="card-title">
                {{ user.first_name }} {{ user.last_name }}
            </h5>
            <p>
                <a href="mailto:{{ user.email }}">
                    {{ user.email }}
                </a>
            </p>
        </div>
            <ul class="list-group list-group-flush">
{#                <li class="list-group-item">#}
{#                    <i class="fas fa-at"></i>&nbsp;&nbsp;#}
{#                </li>#}
                {% if user.bio != None %}
                <li class="list-group-item">
                    {{ user.bio }}
                </li>
                {% endif %}
                <li class="list-group-item">
                    <i class="fas fa-user-graduate"></i>&nbsp;&nbsp;{{ user.education }}
                </li>
                <li class="list-group-item">
                    <i class="fas fa-map-marker-alt"></i>&nbsp;&nbsp;{{ user.location }}
                </li>
            </ul>
        </div>
    </div>

    {# A var dump of the user object, for debugging/testing purposes #}
    <table class="table table-striped table-bordered">
    {% for k, v in user.__dict__.items() %}
        <tr>
            <th>{{ k }}</th>
            <td>{{ v }}</td>
        </tr>
    {% endfor %}
    </table>


<script src="https://cdn.jsdelivr.net/npm/jdenticon@2.1.1" async></script>
{% endblock %}