{% extends "base.html" %}

{% block title %}Salary{% endblock %}

{% block content %}
    <h1>Salary</h1>
    <hr>

    <h4><i>$0 ~ $50000/yr</i></h4>
    <li>1st Grade Teacher $47,263</li>
    <li>Bicycle Repairers $28,390</li>
    <li>Customer Service Representatives $32,890</li>

    <br>
    <h4><i>$50000 ~ $60000/yr</i></h4>

    <li>Assessor $54,010</li>
    <li>Structural Iron and Steel Workers $52,610</li>


    <br>
    <h4><i>$60000 ~ $70000/yr</i></h4>
    <li>Biomedical Scientist $64,000</li>
    <li>Assessment Services Manager $63,723</li>


    <br>
    <h4><i>$70000 ~ $80000/yr</i></h4>
    <li>Multimedia Artist and Animator Salaries in United States $74,089</li>
    <li>Airport Operations Manager $76,791</li>
    <li>Asset Manager $76,232</li>




{% endblock %}
