{% extends "base.html" %}

{% block title %}
    {{ skills.title }}
{% endblock %}

{% block content %}
    <h1>{{ skills.skill_name }}</h1>
    <hr>
      {% if "error" in jobs.keys() %}
        <h4> No Related Jobs </h4>
      {% else %}
    <div>
        {% for job in jobs.jobs %}
            <a href="{{ url_for("job", uuid = job.job_uuid) }}"
            class="list-group-item">
                {{ job.job_title }}
            </a>
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}
