{% extends "base.html" %}

{% block title %}Skill{% endblock %}

{% block content %}
<style media="screen" scoped>
  a {
    text-transform: capitalize;
  }
</style>

<div style= "display: inline-block; text-align: center">
  <h1>Skills &nbsp;&nbsp;<img src="../static/images/skills.jpg" width="300" height="200" alt ="img" /></h1>
</div>
<hr>

    <div class="list-group">
    {% for tech in technology.technology %}
        <a class="list-group-item" href="{{ url_for("skill", id=tech.id) }}">
            {{ tech.name }}
        </a>
    {% endfor %}
    </div>


    <nav aria-label="Page navigation" class="my-4">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="{{ url_for("skill", page=1)}}" aria-label="First">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {% for i in range([1,page-3]|max,page)%}
        <li class="page-item"><a class="page-link" href="{{ url_for("skill", page=i)}}">{{i}}</a></li>
        {% endfor %}

        <li class="page-item"><a class="page-link active" disabled>{{page}}</a></li>

        {% for i in range(page+1,[page+4,10]|min)%}
        <li class="page-item"><a class="page-link" href="{{ url_for("skill", page=i)}}">{{i}}</a></li>
        {% endfor %}
        <li class="page-item">
          <a class="page-link" href="{{ url_for("skill", page=10)}}" aria-label="Last">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
{% endblock %}
