{% extends "base.html" %}

{% block title %}
    {{ technology.title.name }}
{% endblock %}

{% block content %}
    <h1>{{ technology.title.name }}</h1>
    <hr>
    <h2>Technology Category</h2>
    <p>{{technology.categories.title[0].name}}</p>
    <h2>Related Occupations</h2>
    <div>
        {% for job in technology.occupation %}
            <a href="{{ url_for("job", code=job.code) }}"
            class="list-group-item">
                {{ job.title }}
            </a>
        {% endfor %}
    </div>

{% endblock %}
